In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('credit.csv')
df

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,140000,1,1,1,45,0,0,0,0,2,...,44452,45433,46383,1600,1600,3169,1700,1700,1495,0
997,360000,1,1,1,38,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
998,50000,2,2,2,23,-1,-1,-1,0,-1,...,390,390,500,0,780,0,390,500,18300,1
999,120000,1,2,2,25,2,2,0,0,0,...,83858,86434,88802,0,5000,3158,3934,3802,2000,0
1000,100000,1,2,1,29,0,0,0,0,-1,...,-2618,95748,101299,3320,5000,0,100000,7186,0,0

In [3]:
df.describe(include='all')

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,...,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.000000,1001.00000,1001.000000,1001.000000,1001.000000
mean,167012.987013,1.590410,1.776224,1.604396,34.932068,-0.001998,-0.152847,-0.160839,-0.279720,-0.280719,...,40694.154845,39021.212787,38055.913087,5371.204795,5048.385614,4085.572428,4665.82018,5332.246753,5097.193806,0.213786
std,130584.718980,0.492004,0.749583,0.532298,9.225475,1.173029,1.229477,1.259804,1.182234,1.168810,...,68177.725167,63067.367855,63056.725704,12181.074235,15626.623933,10167.468409,13270.27438,16812.202345,23658.075603,0.410183
min,10000.000000,1.000000,1.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-3684.000000,-28335.000000,-339603.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,1438.000000,1252.000000,869.000000,1000.000000,390.000000,228.000000,150.00000,196.000000,0.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,17710.000000,17580.000000,15874.000000,2151.000000,1700.000000,1200.000000,1378.00000,1306.000000,1261.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,48647.000000,46235.000000,46557.000000,5085.000000,4500.000000,3700.000000,4000.00000,3745.000000,3800.000000,0.000000
max,700000.000000,2.000000,6.000000,3.000000,75.000000,8.000000,7.000000,7.000000,7.000000,7.000000,...,628699.000000,484612.000000,473944.000000,199646.000000,285138.000000,133657.000000,188840.00000,195599.000000,528666.000000,1.000000

In [4]:
df.isna().sum().sum()

0

In [5]:
df.dtypes

LIMIT_BAL                     int64
SEX                           int64
EDUCATION                     int64
MARRIAGE                      int64
AGE                           int64
PAY_0                         int64
PAY_2                         int64
PAY_3                         int64
PAY_4                         int64
PAY_5                         int64
PAY_6                         int64
BILL_AMT1                     int64
BILL_AMT2                     int64
BILL_AMT3                     int64
BILL_AMT4                     int64
BILL_AMT5                     int64
BILL_AMT6                     int64
PAY_AMT1                      int64
PAY_AMT2                      int64
PAY_AMT3                      int64
PAY_AMT4                      int64
PAY_AMT5                      int64
PAY_AMT6                      int64
default payment next month    int64
dtype: object

In [8]:
x = df.drop('default payment next month', axis=1)
y=df['default payment next month']

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [11]:
x_test

array([[ 1.93198442,  0.83361577,  0.25708324, ...,  1.01865621,
         0.57553608,  0.01529709],
       [-0.90236693, -1.19959343,  0.25708324, ..., -0.24392727,
        -0.22627792, -0.14690818],
       [-0.42997504,  0.83361577, -1.05289505, ..., -0.3348327 ,
        -0.29987043, -0.19693039],
       ...,
       [-0.66617098,  0.83361577,  0.25708324, ..., -0.1690258 ,
        -0.16564143, -0.0937918 ],
       [-1.05983089,  0.83361577,  0.25708324, ..., -0.11856284,
        -0.19686426, -0.19693039],
       [-0.90236693, -1.19959343, -1.05289505, ..., -0.26274275,
        -0.20649373, -0.19693039]])

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier

# Instantiate the models
logistic_regression = LogisticRegression()
decision_tree = DecisionTreeClassifier()
random_forest = RandomForestClassifier()
svm_classifier = SVC(probability=True)
knn_classifier = KNeighborsClassifier()
naive_bayes = GaussianNB()
xgboost_classifier = XGBClassifier()
mlp_classifier = MLPClassifier()

In [13]:
models = [logistic_regression ,
decision_tree ,
random_forest,
svm_classifier ,
knn_classifier ,
naive_bayes ,
xgboost_classifier ,
mlp_classifier]

In [14]:
x_train= pd.DataFrame(x_train,columns=x.columns)
x_test= pd.DataFrame(x_test,columns=x.columns)

In [15]:
from sklearn.metrics import accuracy_score

accuracy_scores = []

for model in models:
    model.fit(x_train, y_train)
    
    # Make predictions on the test set
    y_pred = model.predict(x_test)

    # Calculate accuracy
    accuracy = accuracy_score(y_test, y_pred)
    accuracy_scores.append(accuracy)

# Print or inspect the accuracy scores
print(accuracy_scores)

[0.8109452736318408, 0.6965174129353234, 0.8258706467661692, 0.8059701492537313, 0.7761194029850746, 0.4975124378109453, 0.8059701492537313, 0.7810945273631841]

c:\Users\win\Desktop\credit_rohit\venv\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
rf_classifier = RandomForestClassifier()

# Define hyperparameters to search
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=5, scoring='accuracy', n_jobs=-1)

# Fit the grid search to the data
grid_search.fit(x_train, y_train)

# Get the best parameters and best model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

# Make predictions on the test set using the best model
y_pred = best_model.predict(x_test)

# Calculate accuracy on the test set
accuracy = accuracy_score(y_test, y_pred)

# Print the best parameters and accuracy
print("Best Parameters:", best_params)
print("Test Set Accuracy:", accuracy)

Best Parameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 100}
Test Set Accuracy: 0.8159203980099502

In [17]:
#we find that basic random forest works better than hyperparameter one , hence we use basic model.

In [18]:
model = RandomForestClassifier()
model.fit(x_train, y_train)
    
    # Make predictions on the test set
y_pred = model.predict(x_test)

    # Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.8258706467661692